:root{
    --cor-fundo:#0b0236ea;
    --cor-principal:#f0b906;
    --cor-segundaria:#e04000;
    --cor-destaque:#d1f506;
    --cor-texto:#dfe0e6;

}

body{
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100vh;
}

caixa-principal{
    background-color: var(--cor-principal);
    width: 90%;
    max-width: 600px;
    text-align: center;
    padding: 20px;

 }

 h1{
    color: var(--cor-destaque);
 }

 .caixa-perguntas{padding-bottom: 10px;
}

button{background-color: var(--cor-segundaria);
color: var(--cor-texto);




}
